/*===Page done by Darrel===*/
.color_palette {
    text-align: center;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    max-width: 90em;
    margin-bottom: 2em;
}
.color_palette img {
    border-radius: 32px;
}

.palette_description {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8em;
    text-align: center;
}

.examples {
    flex-direction: row;
    display: flex;
    margin-bottom: 15em;
    align-content: center;
}

.example-screen {
    margin-left: 7%;
    height: 700px;
    width: 350px;
}

.color_contrast_title, .examples_title {
    text-align: center;
}

.color_contrast_examples {
    flex-direction: column;
    display: flex;
    margin-bottom: 4em;
}

.color_contrast_img {
    align-self: center;
    height: 300px;
    width: 900px;
}

