h2 {
    font-size: 40px;
}

.about-section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    max-width: 60em;
}
.goals-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 40em;
    margin-bottom: 5em;
}
.text {
    flex: 1;
}
p {
    padding-left: 10px;
    font-size: 20px;
    font-weight:400;
    font-family:"Libre Franklin";
}
.desc {
    border-left: 6px solid #9CCB89;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
}
img {
    max-width: 35%;
}
h3 {
    font-size: 32px;
    margin-bottom: -10px;
}
.page-footer {
    padding-top: 5px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #F3F9F0;
    box-shadow: 0 -4px 4px #0000003b;
    width: 105%;
    margin-left: -10px;
}
