h2 {
    font-size: 40px;
}
p {
    padding-left: 10px;
    font-size: 20px;
    font-weight:400;
    font-family:"Libre Franklin";
}
.ref__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 40rem;
}