html {
    font-family: "Quicksand", "Libre Franklin";
    color: #090F19;
    background-color: #FEFDFD;
}

.navbar{
    list-style-type: none;
    margin: -10px;
    padding: 00px;
    overflow: hidden;
    background-color: #ACD39D;
}
.navbar__item {
    float: left;
    text-align: center;
}

li a {
    display: block;
    padding: 24px 16px;
        color: #090F19;
    text-decoration: none;
    font-weight: bold;
}
li a:hover {
    color: #FEFDFD;
    background-color: #445063;
}
.active {
    background-color: #C6E1BB;
    color: #526F53;
}
.page-title {
font-size: 60px;
text-align: center;
}
