html {
    font-family: "Quicksand", "Libre Franklin";
    color: #090F19;
    background-color: #FEFDFD;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: #ACD39D;
    box-shadow: 0 4px 4px #01430e61;
}
.navbar__item {
    float: left;
    text-align: center;
}

li a {
    display: block;
    padding: 24px 16px;
     color: #090F19;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
li a:hover {
    color: #FEFDFD;
    background-color: #445063;
}
.active {
    background-color: #C6E1BB;
    color: #526F53;
}
.page-title {
font-size: 60px;
text-align: center;
}
.page-content {
    padding-top: 60px;
}
h3 {
    font-size: 32px;
    margin-bottom: -10px;
}
.page-footer {
    padding-top: 5px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #F3F9F0;
    box-shadow: 0 -4px 4px #0000003b;
    width: 105%;
    margin-left: -10px;
}