.page__title {
    text-align: center;
    font-size: 4em;
}

.rationale {
    display: flex;
    background-color: #d9ebd1;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap
}

.rationale__title {
flex: 1;

}