.typography_header{
font-size: 40px;
text-align: left;
margin-left: 5%;
margin-bottom: 10px;
margin-top: 10px;
}

.typography_quicksand{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-image:url(https://static.vecteezy.com/system/resources/previews/007/075/892/non_2x/meadow-grass-meadow-background-grassy-landscape-free-vector.jpg);
    background-position: 53%;
    background-size: cover;
    border-radius: 20px;
}
.typography_quicksand p{
    max-width: 60%;
    margin: auto;
}
img{
    max-width: 40%;
    max-height: 50%;
    padding: 2%;
}

.typography_libre-franklin{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-image:url(https://static.vecteezy.com/system/resources/previews/007/075/892/non_2x/meadow-grass-meadow-background-grassy-landscape-free-vector.jpg);
    background-position: 53%;
    background-size: cover;
    border-radius: 20px;
}
.typography_libre-franklin p{
    max-width: 60%;
    margin: auto;
}


.box{
    border: 2px solid greenyellow;
    align-items: center;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.header1_quicksand{
font-family: 'Quicksand';
font-weight: bold;
font-size: 32px;
padding: 5px;
}

.header2_quicksand{
font-family: 'Quicksand';
font-weight: 600;
font-size: 28px;
padding: 5px;
}

.header3_quicksand{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 24px;
    padding: 5px;
 }

.header4_quicksand{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
}

.body_quicksand{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
}
.caption_quicksand{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
}
.figcaption_quicksand{
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 8px;
    padding: 5px;
}

.header1_libre-franklin{
font-family: 'Libre Franklin';
font-weight:400;
font-size: 32px;
padding: 5px;
}

.header2_libre-franklin{
font-family: 'Libre Franklin';
font-weight:400;
font-size: 28px;
padding: 5px;
}

.header3_libre-franklin{
    font-family: 'Libre Franklin';
    font-weight:400;
    font-size: 24px;
    padding: 5px;
    }

 .header4_libre-franklin{
    font-family: 'Libre Franklin';
    font-weight:400;
    font-size: 20px;
    padding: 5px;
    }

.body_libre-franklin{
    font-family: 'Libre Franklin';
    font-weight:400;
    font-size: 16px;
    padding: 5px;
    }

.caption_libre-franklin{
  font-family: 'Libre Franklin';
     font-weight:400;
     font-size: 12px;
     padding: 5px;
    }

.figcaption_libre-franklin{
        font-family: 'Libre Franklin';
        font-weight:400;
        font-size: 8px;
        padding: 5px;
        }

.accessibility_typography{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        background-image:url(https://static.vecteezy.com/system/resources/previews/007/075/892/non_2x/meadow-grass-meadow-background-grassy-landscape-free-vector.jpg);
        background-position: 53%;
        background-size: cover;
        border-radius: 20px;
        }
        .accessibility_typography p{
            max-width: 60%;
            margin: auto;
        }

        .accessibility_Header{
            font-family: "Quicksand";
            font-weight: 600;
            font-size: 40px;
            padding: 5px;
        }

        .accessibility_Body{
            font-family: "Libre Franklin";
            font-weight: 300;
            font-size: 40px;
            padding: 5px;
        }

    .typography_divider{

    }