.typography_header{
font-size: 40px;
text-align: left;
margin-left: 7%;
margin-bottom: 0;
}

.typography_quicksand{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    background-image:url(https://static.vecteezy.com/system/resources/previews/007/075/892/non_2x/meadow-grass-meadow-background-grassy-landscape-free-vector.jpg);
}
.typography_quicksand p{
    max-width: 60%;
}
img{
    max-width: 30%;
    max-height: 30%;
    padding: 2%;
}
.background_img{
    z-index: 0;
    position: absolute;
    width: 500px;
}
.typography_libre-franklin{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.typography_libre-franklin p{
    max-width: 60%;
}

.components{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
