.typography_header{
font-size: 40px;
text-align: center;
}

.typography_quicksand{
    display: flex;
    
}

img{
    max-width: 20%;
    max-height: 20%;
    padding: 2%;
}

.typography_libre-franklin{
    display: flex;
}